{% extends "base.html" %}

{% block title %}
    Log in to Tracker
{% endblock title %}
{% block content %}
    <main>
        <div class="box">
            <b class="circle1"></b>
            <b class="circle2"></b>
            <b id="space-invader"></b>
        </div>
        <div class="center-box">
            <h1>Log in</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    Don't have an account? Sign up <a class="purpletext hoverline" href={% url 'signup' %}>here</a>!
                </p>
                <button class="button-style">Log in</button>
            </form>
        </div>
    </main>
{% endblock content %}
