{% extends "base.html" %}

{% block title %}
    Sign up for a free Tracker account
{% endblock title %}
{% block content %}
    <main>
        <div class="center-box">
            <h1>Sign up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    Already have an account? Log in <a class="purpletext hoverline" href={% url 'login' %}>here</a>!
                </p>
                <button class="button-style">Sign up</button>
            </form>
        </div>
    </main>
{% endblock content %}
