{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon"
              href="{% static 'css/favicon.ico' %}"
              type="image/png">
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav class="nav">
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'list_projects' %}">My Projects</a>
                        </li>
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                        </li>
                        <ul class="nav-right">
                            <li class="tab-right">
                                <p style="font-weight: bold;" class="nav-padding">Hello, {{ user.username }} ☾⋆⁺₊🎧✧</p>
                                <a href="{% url 'logout' %}">Log out</a>
                            </li>
                        <ul>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
