{% extends "base.html" %}

{% block title %}
    New Task
{% endblock title %}
{% block content %}
    <main>
        <div class="box">
            <b class="circle3"></b>
            <b class="crescent1"></b>
        </div>
        <div class="center-box">
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button-style">Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
