{% extends "base.html" %}

{% block title %}
    Delete Project
{% endblock title %}
{% block content %}
    <main>
        <div class="box">
            <b class="circle1"></b>
            <b class="crescent1"></b>
        </div>
        <div class="center-box2">
            <h1>Are you sure you want to delete</h1>
            <h2 class="center-text">"{{ project.name }}"?</h2>
            <div class="center-text">
                <form class="wrapper" method="post" action="">
                    {% csrf_token %}
                    <input class="button-style" type="submit" name="Confirm">
                </form>
                <button class="button-style wrapper" style="width: 129px;">
                    <a href={% url 'list_projects' %}>Cancel</a>
                </button>
            </div>
        </div>
    </main>
{% endblock content %}
