{% extends "base.html" %}

{% block title %}
    Tracker
{% endblock title %}
{% block content %}
    <div class="box">
        <b class="circle1"></b>
        <b class="circle2"></b>
        <b class="circle3"></b>
        <b class="crescent1"></b>
    </div>
    <main>
        <div class="center-box2">
            <h1 class="center-text">My Projects</h1>
            <p class="center-text">
                <a class="button-link" href={% url 'create_project' %}>Create a new project</a>
            </p>
            {% if projects|length == 0 %}
                <p class="p-padding center-text">You are not assigned to any projects ｡･:*:･ﾟ★</p>
            {% else %}
                <table class="center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Tasks</th>
                            <th>Edit Project</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>
                                    <a class="purpletext2 hoverline"
                                       href="{% url 'show_project' project.pk %}">{{ project.name }}</a>
                                </td>
                                <td class="center-text">{{ project.tasks.all|length }}</td>
                                <td>
                                    <a class="whitetext2 hoverline updelpadding"
                                       href="{% url 'edit_project' project.pk %}">Update</a>
                                    <a class="whitetext2 hoverline updelpadding"
                                       href="{% url 'delete_project' project.pk %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
